.hero-container {
  background-image: url("../images/nasa-CzigtQ8gPi4-unsplash.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* this will be useful for a picture background (static picture background)*/

.hero-container > .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 12px 24px;
  background-color: black;
  opacity: 80%;
  font-size: 1.25rem;
  letter-spacing: 10px;
}

/* this will center a text within the picture background */
